/* You can add global styles to this file, and also import other style files */
.mysite{
    padding-top:130px ;
    * {
        color: #494949;
    }
    .bd {
        padding: 1.5rem;
        margin-right: 0;
        margin-left: 0;
        border-width: .2rem;
    }
}